<div style="border: 1px solid black;">
  <div>
    <p><%= post.user.name %> - 
      <%= post.likes.count %>
      <%= post.likes.count == 1 ? "Like" : "Likes" %></p>
    <p><%= post.body %></p>
  </div>
  <div>
    <% if current_user.likes? post %>
      <%= button_to "Like", post_like_path(post), method: :delete, remote: true %>
    <% else %>
      <%= button_to "Like", post_like_path(post), method: :post, remote: true %>
    <% end %>
  </div>
  <div>
    <% post.comments.each do |comment| %>
      <div style="border: 1px solid red">
        <p><%= comment.user.name %><p>
        <p><%= comment.text %></p>
      </div>
    <% end %>
  </div>
  <div>
    <%= render partial: 'comments/form', locals: { post: post } %>
  </div>
</div>