<div class="wrapper post-full-wrapper">
  <div class="post-wrapper">
    <div class="post post-author">
      <p><%= link_to post.user.name, user_path(post.user) %></p>
    </div>  
    <div class="post post-text">
      <p><%= post.body %></p>
    </div>
    <span class="likes-count">
      <div class="likes-wrapper">
        <p>
          <%= post.likes.count %>
          <%= post.likes.count == 1 ? "Like" : "Likes" %>
        </p>  
        
        <% if current_user.likes? post %>
          <%= button_to "Like", post_like_path(post), method: :delete, remote: true %>
        <% else %>
          <%= button_to "Like", post_like_path(post), method: :post, remote: true %>
        <% end %>
      </div>  
    </span>
  </div>  
  <div class="wrapper comments-wrapper">
    <% post.comments.each do |comment| %>
      <div class="comment post-comment">
        <div class="comment-author">
          <p><%= link_to comment.user.name, user_path(comment.user) %><p>
        </div>
        <div class="comment-text">
          <p><%= comment.text %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= render partial: 'comments/form', locals: { post: post } %>
</div>  
