<%= render 'navbar' %>
<span class="profile-header">
  <div class="avatar">
    <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, size: '200x200' %>
    <% else %>
      <%= image_tag "default-profile-image.jpg", size: "200x200" %>  
    <% end %>  
  </div>
  <div class="user-info">
    <%= @user.name %>
  </div>
</span>  
<div class="form-wrapper"> 
  <%= render 'posts/form' %>
</div>  
<%= render partial: 'post', collection: @posts %>


