<%= render 'users/navbar' %>
<%= render 'form' %>

<% @posts.each do |post| %>
  <div class="wrapper">
    <div class="post-wrapper">
      <div class="post post-author">
        <p><%= link_to post.user.name, user_path(post.user) %></p>
      </div>  
      <div class="post post-text">
        <p><%= post.body %></p>
      </div>
      <span class="likes-count">
        <p>
          <%= post.likes.count %>
          <%= post.likes.count == 1 ? "Like" : "Likes" %>
        </p>  
        
        <% if current_user.likes? post %>
          <%= button_to "Like", post_like_path(post), method: :delete, remote: true %>
        <% else %>
          <%= button_to "Like", post_like_path(post), method: :post, remote: true %>
        <% end %>
      </span>
    </div>  
    <div>
      <% post.comments.each do |comment| %>
        <div>
          <p><%= link_to comment.user.name, user_path(comment.user) %><p>
          <p><%= comment.text %></p>
        </div>
      <% end %>
    </div>
    <div>
      <%= render partial: 'comments/form', locals: { post: post } %>
    </div>
  </div>
<% end %>